<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
</head>
<body>
    <div>
        <input type="text" id="lookingFor">
        <button id="src">Search</button>
    </div>
    <h3>Got a Question? We've got an answer</h3>
    <div id="questions">
        <div class="q">Travel Agent Booking</div>
        <div class="q">Booking Changes</div>
    </div>

    <div>
        <a href="/booking/">Home</a>
    </div>
</body>
</html>